.app-container{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.app-title{
  font-size: 48px;
  margin: 12px;
  color: #007bff;
}

.app-main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.app-form{
  display: flex;
  flex-flow: row nowrap;
}


.app-form-input{
  margin: 4px;
  min-width: 600px;
}

.app-form-button{
  margin: 4px;
}

@media only screen and (max-width: 700px) {
  .app-form-input{
      min-width: initial;
}
}
